<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.first.kodaiguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThingsToKnow"
            android:label="@string/menuThingsToKnow"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GettingThere"
            android:label="@string/menuGettingThere"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MajorAttractions"
            android:parentActivityName=".MainActivity"
            android:label="@string/menuMajorAttractions"/>
        <activity
            android:name=".Restaurants"
            android:label="@string/menuRestaurants"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>